# Environment
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Data (auto-created on server)
data/users.csv
data/evaluations/
data/journeys/
data/ieps/
data/medications/
data/*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
